body {
  font-family: 'Garamond', cursive, Times New Roman;
  background-color: #e4d3f0;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #574569;
  text-shadow: 2px 2px #fff;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.project-card {
  background: #e3dce8;
  border: 2.5px solid #6d5a94;
  border-radius: 20px;
  width: 150px;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 20px rgba(255, 105, 180, 0.4);
}

.project-card img {
  border-radius: 15px;
  width: 100%;
}

.project-card p {
  margin-top: 10px;
  color: #9148f7;
  font-weight: bold;
}
