
body {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 1s ease, transform 1s ease;
}


body.loaded {
  opacity: 1;
  transform: scale(1);
}

body {
  margin: 0;
  font-family: 'Didot', cursive;
  background: linear-gradient(135deg, #b4c6ed, #a271de);
  overflow-x: hidden;
  position: relative;
}

header h1 {
  text-align: center;
  margin: 40px 0;
  color: #392b87;
  text-shadow: 2px 2px ##d4d1e8;
}

.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.project-card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  width: 180px;
  cursor: pointer;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-10px) scale(1.10);
  box-shadow: 0 10px 20px rgba(138, 43, 226, 0.4);
}

.project-card img {
  width: 100%;
  border-radius: 15px;
}

.project-card p {
  color: #6a0dad;
  font-weight: bold;
  margin-top: 10px;
}


#bgCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
