body {
  font-family: Times New Roman, Garamond;
  background-color: #f5c6ed;
  text-align: center;
  padding: 70px;
}

h1 {
  color: #522652;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #330324;
  font-weight: bold;
}

a:hover {
  color: #871678;
}
